#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}

/* Estilos básicos para o aplicativo */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* Estilos para o logo */
.logo {
  height: 2.5em;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 1em rgba(100, 108, 255, 0.6));
}
